* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
a{
  color: black;
  text-decoration: none;
}
.v7_11 {
  width: 100%;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_13 {
  width: 989px;
  height: 87px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  box-shadow: 0px 1px 12px rgba(0.699999988079071, 0.699999988079071, 0.699999988079071, 0.25);
  overflow: hidden;
}
.v7_12 {
  width: 367px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 7px 0px 29px rgba(0.6166666746139526, 0.6166666746139526, 0.6166666746139526, 0.25);
  overflow: hidden;
}
.v8_66 {
  width: 550px;
  height: 64px;
  background: url("../images/v8_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 670px;
  overflow: hidden;
}
.v7_15 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 453px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v7_16 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 424px;
  overflow: hidden;
}
.v7_17 {
  width: 16px;
  height: 6px;
  background: url("../images/v7_17.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v7_18 {
  width: 8px;
  height: 8px;
  background: url("../images/v7_18.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(255,255,255,1);
}
.v7_19 {
  width: 297px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  border: 1px solid rgba(246,246,246,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: 13px 13px 42px rgba(0.7916666865348816, 0.7916666865348816, 0.7916666865348816, 0.25);
  overflow: hidden;
}
.v7_20 {
  width: 77px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 12px;
  left: 145px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v7_21 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 117px;
  overflow: hidden;
}
.v7_22 {
  width: 16px;
  height: 16px;
  background: url("../images/v7_22.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(64,64,64,1);
}
.v7_23 {
  width: 4px;
  height: 4px;
  background: url("../images/v7_23.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  border: 2px solid rgba(64,64,64,1);
}
.v7_24 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v7_25 {
  width: 18px;
  height: 15px;
  background: url("../images/v7_25.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(64,64,64,1);
}
.v7_26 {
  width: 3px;
  height: 0px;
  background: url("../images/v7_26.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 11px;
  border: 2px solid rgba(64,64,64,1);
}
.v7_27 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 59px;
  overflow: hidden;
}
.v7_28 {
  width: 18px;
  height: 18px;
  background: url("../images/v7_28.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(64,64,64,1);
}
.v7_29 {
  width: 12px;
  height: 12px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 73px;
  border-radius: 50%;
}
.v7_30 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 76px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v147_469 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 387px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v147_470 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 519px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_65 {
  width: 367px;
  height: 498px;
  background: url("../images/v8_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 0px;
  overflow: hidden;
}
.v8_56 {
  width: 367px;
  height: 243px;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v7_33 {
  width: 190px;
  color: rgba(42,42,42,1);
  position: absolute;
  top: 0px;
  left: 88px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v7_45 {
  width: 6px;
  color: rgba(42,42,42,1);
  position: absolute;
  top: 122px;
  left: 71px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v8_2 {
  width: 65px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 160px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_3 {
  width: 130px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 196px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_4 {
  width: 135px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 232px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_5 {
  width: 148px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 268px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_6 {
  width: 98px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 304px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_10 {
  width: 41px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 83px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_11 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 30px;
  overflow: hidden;
}
.v8_12 {
  width: 18px;
  height: 20px;
  background: url("../images/v8_12.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 1px solid rgba(42,42,42,1);
}
.v8_13 {
  width: 6px;
  height: 10px;
  background: url("../images/v8_13.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 1px solid rgba(42,42,42,1);
}
.v8_48 {
  width: 128px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 409px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v147_474 {
  width: 128px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 446px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_52 {
  width: 84px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 482px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_38 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 310px;
  overflow: hidden;
}
.v8_39 {
  width: 12px;
  height: 6px;
  background: url("../images/v8_39.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 2px solid rgba(42,42,42,1);
}
.v8_40 {
  width: 8px;
  height: 8px;
  background: rgba(165,165,165,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 30px;
  border-radius: 50%;
}
.v8_41 {
  width: 8px;
  height: 8px;
  background: rgba(165,165,165,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 30px;
  border-radius: 50%;
}
.v8_42 {
  width: 8px;
  height: 8px;
  background: rgba(165,165,165,1);
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 30px;
  border-radius: 50%;
}
.v8_43 {
  width: 8px;
  height: 8px;
  background: rgba(165,165,165,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 30px;
  border-radius: 50%;
}
.v8_44 {
  width: 8px;
  height: 8px;
  background: rgba(165,165,165,1);
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 30px;
  border-radius: 50%;
}
.v8_60 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 30px;
  overflow: hidden;
}
.v8_61 {
  width: 20px;
  height: 20px;
  background: url("../images/v8_61.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(42,42,42,1);
}
.v8_62 {
  width: 13px;
  height: 10px;
  background: url("../images/v8_62.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 9px;
  border: 2px solid rgba(42,42,42,1);
}
.v147_460 {
  width: 132px;
  height: 45px;
  background: linear-gradient(rgba(165,232,188,1), rgba(184,203,184,1));
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1123px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_461 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1141px;
  overflow: hidden;
}
.v147_462 {
  width: 16px;
  height: 6px;
  background: url("../images/v147_462.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v147_463 {
  width: 8px;
  height: 8px;
  background: url("../images/v147_463.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(255,255,255,1);
}
.v147_465 {
  width: 149px;
  height: 146px;
  background: rgba(54,86,61,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 111px;
  border-radius: 50%;
}
.v147_466 {
  width: 97px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 137px;
  overflow: hidden;
}
.v147_467 {
  width: 64px;
  height: 23px;
  background: url("../images/v147_467.png");
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 17px;
  border: 2px solid rgba(255,255,255,1);
}
.v147_468 {
  width: 32px;
  height: 31px;
  background: url("../images/v147_468.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 33px;
  border: 2px solid rgba(255,255,255,1);
}
.v147_476 {
  width: 27px;
  height: 25px;
  background: url("../images/v147_476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 31px;
  overflow: hidden;
}
.v151_479 {
  width: 287px;
  height: 195px;
  background: url("../images/v151_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 404px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v151_481 {
  width: 290px;
  height: 195px;
  background: url("../images/v151_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 394px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v151_483 {
  width: 537px;
  height: 386px;
  background: url("../images/v151_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 708px;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
}
.v151_484 {
  width: 732px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 716px;
  left: 410px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v151_486 {
  width: 57px;
  height: 69px;
  background: url("../images/v151_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 688px;
  left: 1175px;
  overflow: hidden;
}
.v151_488 {
  width: 61px;
  height: 62px;
  background: url("../images/v151_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 1096px;
  overflow: hidden;
}
